doctype html
html(lang="ja")
  head
    title= pageTitle
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='vendor/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='vendor/codemirror/codemirror.css')
    link(rel='stylesheet', href='css/index.css')
    link(rel='stylesheet', href='css/editor.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
    script(src='js/mypage.js')
    script(src='vendor/bootstrap/js/bootstrap.min.js')
    style.
      .errorLine {
        background: #f2dede !important;
      }

    - var tableHead = new Array("課題名", "提出状況", "締切");
    - var data = new Array([0, "function", "未提出", "14/10/11"], [1, "sort", "未提出", "14/10/04"], [2, "fib", "提出済", "14/10/04"]);

  body
    .site-wrapper
      .site-wrapper-inner-center-off
        .cover-container
          .masthead.clearfix
            .inner
              h3.masthead-brand
               a(href="#") Aspen
              ul.nav.masthead-nav
                li
                  a(href="#") Sign out
          .inner.cover.shadow-off
            .inner
              .row
                .col-sm-3.block-center-off
                  button.btn.btn-info(href="#") New&nbspFile
                .col-sm-9
                  table.table.table-hover
                    thead
                      tr
                      - for(var i = 0; i < tableHead.length; i++){
                        th #{tableHead[i]}
                      - }
                    tbody
                      - for(var i = 0; i < data.length; i++){
                      tr
                      -for(var j = 1; j < data[i].length; j++){
                        th.subjectInList(id="#{data[i][0]}") #{data[i][j]}
                      - }
                      - }
          .mastfoot
            .inner
