extends layout

block header
  +css('/css/index.css')
  +css('/css/editor.css')
  style.
    body {
      padding-top: 4em;
    }

block loadFiles
  +js('/js/submitedList.js')

block content
  .site-wrapper
    .site-wrapper-inner-center-off
      .cover-container
        .masthead.clearfix
          .inner
            h3.masthead-brand
             a(href="#") Aspen
            ul.nav.masthead-nav
              li
                a(href="#") Sign out
        .inner.cover.shadow-off
          .inner
            .row
              .col-sm-3.block-center-off
                p.control-panel
                  a.btn.btn-success(href="/subject/new") 新規課題の作成
                p.control-panel
                  input.form-control.control-search(type="text")
                  | &nbsp;
                  button.btn.btn-primary
                    span.glyphicon.glyphicon-search
                p.control-panel
                  .search-panel-group
                    .search-panel-head.student-head(id="student") 全ての学生
                    span.glyphicon.glyphicon-chevron-down.pull-right(id="student")
                    .search-panel-list(id="student-list")
                      .search-panel-content(id="student-content", number="-1", name="全ての学生")
                        |全ての学生
                      - for(var i = 0; i < students.length; i++){
                      .search-panel-content(id="student-content", number="#{students[i][0]}", name="#{students[i][1]}")
                        |#{students[i][0]}&nbsp&nbsp#{students[i][1]}
                      - }
                p.control-panel
                  .search-panel-group
                    .search-panel-head.subject-head(id="subject") 全ての課題
                    span.glyphicon.glyphicon-chevron-down.pull-right(id="subject")
                    .search-panel-list(id="subject-list")
                      .search-panel-content(id="subject-content", number="-1", name="全ての課題")
                        |全ての課題
                      - for(var i = 0; i < subjects.length; i++){
                      .search-panel-content(id="subject-content", number="#{subjects[i][0]}") #{subjects[i][1]}
                      - }
              .col-sm-9
                table.table.table-hover
                  thead
                    tr
                    - for(var i = 0; i < tableHead.length; i++){
                      th #{tableHead[i]}
                    - }
                  tbody
                    - for(var i = 0; i < data.length; i++){
                    tr
                    -for(var j = 1; j < data[i].length; j++){
                      th.submitedInList(id="#{data[i][0]}") #{data[i][j]}
                    - }
                    - }
        .mastfoot
          .inner
