extends layout

//- var tableHead = new Array("課題名", "提出状況", "締切");
//- var data = new Array([0, "function", "未提出", "14/10/11"], [1, "sort", "未提出", "14/10/04"], [2, "fib", "提出済", "14/10/04"]);

block header
  +css('/css/index.css')
  style.
    .site-wrapper {
      padding-top: 3em;
    }

block loadFiles
    +js('/js/mypage.js')
    +js('../vendor/jquery/jquery.tablesorter.js')

block content
  .site-wrapper
    .site-wrapper-inner-center-off
      .cover-container
        include topbar
        .inner.cover.shadow-off
          .inner
            .row
              .col-sm-3.block-center-off
                a.btn.btn-success(href="/editor") 空のファイルを作成する
              .col-sm-9
                table.table.table-hover(id="myDataTable")
                  thead
                    tr
                    - for(var i = 0; i < tableHead.length; i++){
                      th #{tableHead[i]}
                    - }
                  tbody
                    - for(var i = 0; i < submits.length; i++){
                      tr(class="#{submits[i].cl}")
                        td.subjectInList(id="#{submits[i].id}") #{submits[i].name}
                        td.subjectInList(id="#{submits[i].id}") #{submits[i].status}
                        td.subjectInList(id="#{submits[i].id}") #{submits[i].endAt}
                    - }
        .mastfoot
          .inner
